
h1, p, ol,ul {	
color: red;
background-color: white;
text-align: center;
padding: 20px;
font-family: 'centuryscoolbook',
font-weight: italique;

}

. {	
border-radius: 50%;
}

# {

}

ul, ol {
display: inline;
}